@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.wrapper {
    padding: 30px 0 43px 0;
}

body {}

.container {
    max-width: 600px;
    margin: 0 150px;
}

.build__container {
    max-width: 800px;
    margin: 0 50px;
}

.text {
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 16px;
    line-height: 150%;
}

.subheading {
    font-family: 'Open Sans', sans-serif;

    font-weight: 800;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
}


.page {}

.page__color {
    margin-bottom: 45px;
}

.page__house {
    margin-bottom: 37px;
}

.page__build {
    margin-bottom: 89px;
}

.page__dawn {
    margin-bottom: 85px;
}

/*footer*/
.contacts {}

.contacts__info {}


.color {}

.color__heading {
    font-family: 'Open Sans', sans-serif;

    font-weight: 800;
    font-size: 38px;
    line-height: 130%;
    text-align: center;

    margin-bottom: 21px;
}

.color__text {
    margin-left: 10px;
}


.house {}

.house__subheading {
    margin-bottom: 8px;
}

.house__text {}



.build {}

.build__subheading {
    margin-bottom: 21px;
}

.build__text {
    max-width: 751px;

    margin-bottom: 49px;
}

.build__wrap-image {
    text-align: center;
}

.build__image {}


.dawn {}

.dawn__subheading {
    margin-bottom: 14px;
}

.dawn__text {
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 20px;
    line-height: 150%;

    margin-bottom: 40px;
}

.dawn__border {
    background: #FFFFFF;
    border-radius: 4px;

    filter: drop-shadow(4px 4px 6.5px rgba(255, 202, 52, 0.55));

    max-width: 346px;
    margin: 0 auto;
    padding: 44px 42px 40px 42px;
}

.dawn__title {
    font-family: 'Open Sans', sans-serif;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #2C2C2C;

    margin-bottom: 25px;
}

.dawn__wrap-image {
    text-align: center;

    margin-bottom: 26px;
}

.dawn__image {}

.dawn__desc {
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 13px;
    line-height: 231%;
    text-align: center;
    color: #A79997;
}


.info {}

.info__title {
    font-family: 'Open Sans', sans-serif;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #2C2C2C;
    text-align: center;

    margin-bottom: 29px;
}

.info__list {
    font-family: 'Lora', serif;
    font-size: 17px;
    line-height: 110%;
    text-decoration-line: underline;
    color: #5A9CFF;

    margin-left: 250px;
}

.contacts__item:last-child {
    margin-bottom: 0;
}

.info__item {
    margin-bottom: 21px;
}